body {
    background: rgba(0, 0, 0, .15);
}

.ui.menu.main-nav {
    margin: 0;
    background: rgba(212, 19, 13, .8);
}


.ui.menu.main-nav .item {
    color: rgba(255,255,255, .8);
    font-weight: bold;
    text-transform: uppercase;
}

.ui.menu.main-nav .item:hover, .ui.menu.main-nav .item.active:hover, .ui.menu.main-nav .item i.inverted:hover   {
    color: rgba(255,225, 255, .9);
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
 }

.ui.menu.main-nav .item.active{
    color: rgba(255,225, 255, .9);
    font-weight: bold;
}

.main-nav .right.icon.menu .item .notification-count {
    /*background: rgba(212, 19, 13, 1);*/
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 1px 3px;
    font: 9px Verdana;
    position: absolute;
    top: -2px;
    right: 12px;
    
}


.main-nav .right.icon.menu .item > .input > input {
    border: 1px solid rgba( 65, 131, 212, .9);;
    color: whitesmoke;
    background: rgba(0,0, 0, .125);
}

.main-nav .right.icon.menu .item > .input > i {
    color: whitesmoke;
}




<<<<<<< HEAD
.ui.basic.segment.content-container {
    margin-top: 0rem;
=======
.content-container {
    margin-top: 0px;
>>>>>>> parent of b407f4c... Fixed navbar mobile and desktop
}
.post.box.cont {
    background-color: rgba( 0, 128, 128, .15);
}
.app.post.box {
    resize: none;
    /*background-color: rgba( 0, 0, 0, .05);*/
}

.ui.segment.forum-card, .segment-bg, .ui.segment.segment-bg {
    /*background-color: rgba( 0, 128, 128, .075);*/
    background: whitesmoke;
}


.ui.forum-card .name {
    margin-bottom: 3px;
}

.ui.forum-card .name-cont, .ui.forum-card .img-container {
    margin: 0px;
    padding: 0px;
}

.ui.forum-card h3 {
    margin-top: .3rem;
}

.ui.forum-card .ui.grid .row{
    padding-top: 0px; 
}

.card-post-title:hover, .breadcrumb.section-indicator a.section:hover {
    color: rgba( 64, 131, 202, .9);
}

.card-post-title, .breadcrumb.section-indicator a.section {
    color: rgba( 65, 131, 202, 1);
}

.ui.forum-card .personal.quote, .post-time, .section-indicator .active {
    color: rgba(0, 0, 0, .55);
}

.post-content {
    color: rgba(0, 0, 0, .7)
}

.post-time, .post-views, .post-section-mobile, .ui.breadcrumb.section-indicator a, .section-indicator .active  {
    color: rgba(0, 0, 0, .50);
    font-size: .8rem;
}
.ui.forum-card .personal.quote:before {
    content: '"';
}

.ui.forum-card .personal.quote:after {
    content: '"';
}

.ui.forum-card .personal.quote:after, .ui.forum-card .personal.quote:before {
    font-weight: bold;
    font-size: large;
    font-style: italic;
}

.card-post-info {
    margin-top: .5rem;
    /*color: rgba( 64, 131, 202, .9);*/
}

#chatLabel {
    /*cursor: pointer;*/
}

.card-post-more-info {
    /*border-top: 1.5px solid rgba( 64, 131, 202, .4);*/
}

.section-indicator {
    opacity: 1;
}

.ui.forum-card .card-post-more-info {
    padding-bottom: 0px;
}



.ui.forum-card .card-post-more-info:nth-child(n + 1) {
    color: rgba(0, 0, 0, .55);
    font-size: .85rem;
}

.ui.btn-color, .ui.feed .ui.label {
    background-color: rgba(212, 19, 13, .8);
    color: whitesmoke;
}

.ui.feed .event .small.label i, .ui.list .ui.icon {
    color: rgba(212, 19, 13, .8);
}



.ui.btn-color:hover{
    background: rgba(212, 19, 13, .7);
    color: whitesmoke;
}
/* For screen above 992px*/
@media (min-width:992px) {

    .mobile-forums-list, .mobile-only {
        display: none !important;
    }


    .ui.segment.content-container {
        margin-top: 0px;
    }



    .row.msg {
    }

    .row.msg:hover {
        background-color: rgba(212, 19, 13, .025);;
    }

    .main-nav .right.icon.menu .item {
    padding-left: 20px;
    padding-right: 20px;
}
}

/* For mobile screen below 992px*/
@media (max-width: 992px) {
    .ui.segment.post.box.cont, .ui.menu.main-nav.computer-only {
        display: none;
    }

    .ui.segment.content-container {
        padding: 0;
    }

    section.eight.wide.computer.sixteen.wide.mobile.sixteen.wide.tablet.column {
        padding: 0px !important;

        padding-top: 1rem !important;
    }

    .ui.segment.related-favorite, .ui.forum-card:last-of-type {
        margin-bottom: 1rem;
    }

    .ui.segment.lower-banner {
        margin-bottom: 1rem;
    }
     
}

.ui.list.forum-list {
    border-top: 1.5px solid darkgray;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 8px;
}

footer {
    margin-top: 1rem;
    background: rgba(212, 19, 13, .8);
    color: #FFF;
}

/* For Messages */

.row.msg {
    border-top: 1px solid rgba(212, 19, 13, .8);;

}

.row.msg h4.ui.header.name {
    margin: 0;
    margin-bottom: .3rem;
    /*border-bottom: .5px solid rgba( 64, 131, 202, .35);*/
    padding-bottom: .5rem;
}

.row.msg .metadata {
    color: rgba(0, 0, 0, .45);
    margin: .1rem 0;
    font-size: .85rem;
}

/* Message.html */

.chat-container .ui.grid .row:nth-child(n + 2) {
    border-bottom: 1px solid rgba(0, 0, 0, .085);
}

.chat-container .ui.grid .row .column .ui.label {
    font-weight: normal;
    font-size: 1rem;
    color: black;
}

.chat-container .ui.grid .row .column .ui.label .text {
    text-align: left;
}

.chat-container .ui.grid .row .column .ui.label .metadata {
    margin-top: .5rem;
    color: rgba(0, 0, 0, .475);
    font-size: .85rem;
}

.ui.popup {
    /*background: red;*/
}